*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    margin-top: 100px;
    background: #1f2a44;
    color: #fff;
    padding-bottom: 120px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: #c0c0c0;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    color: #000000;
}
.navlist{
    display: flex;

}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: all .50s ease;

}
.navlist a:hover{
    padding-inline: 20px;
   padding-block: 10px;
    background: #aa76f4;
    border-radius: 10px;
    color: #fff;
}
.nav-right{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 14px 35px;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 10px;
    margin-right: 12px;
    transition: all .6s ease;

}
.btn:hover{
    background:#aa76f4;
    color: #fff;
    transform: scale(1.1);
}
#menu-icon{
    font-size: 34px;
    color:#000000;
    z-index: 10001;
    cursor: pointer;
    display: none;

}






.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 150px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  color: #000;
}

table th {
  background: #aa76f4;
}

table img {
  max-width: 80px;
  height: auto;
}

td:nth-child(5) { /* description */
  max-width: 200px;
  text-align: left;
}







.edit a{
    background-color: #fff;
    padding: 5px;
    padding-inline: 25px;
    font-size: large;
    border-radius: 10px;
    border: none;
    font-weight:600;
    color:black;
}
.edit a:hover{
     background: #aa76f4;
     color: #fff;
}
/*footer{
    background-color: #596d9a;
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: -310px;
    z-index: 10;
}*/
footer{
     position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: #596d9a;
}
.foot a{
    background-color: #fff;
    padding: 5px;
    padding-inline: 25px;
    font-size: large;
    border-radius: 10px;
    border: none;
    font-weight:600;
    color:black;
}
.foot a:hover{
     background: #aa76f4;
     color: #fff;
}

@media(max-width:1300px){
     
    header{
        padding: 20px 4%;
    }
}
@media(max-width:1200px){
     
  body{
        margin-top:70px ;
    }
}
@media(max-width:1050px)
{
     body{
        margin-top:60px;
    }
    .logo{
        font-size: 25px;

    }
    .navlist a{
        margin: 0 25px;
    }
    .btn{
        padding: 11px 23px;
    }

}
@media(max-width:740px)
{
    .container{
        margin-top: 110px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        backdrop-filter:blur(100px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        transition: all .7s ease;
        
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: opx opx 50px 0px;
        font-size: 2rem;

    }
    .navlist.open{
      left: 0;
    }
}