
        button {
             padding: 5px 10px; cursor: pointer;
             }

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial; margin: 20px;
    background: #1f2a44;
    color: #fff;
     padding-bottom: 120px;
      padding-top: 120px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: #c0c0c0;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    color: #000000;
}
.navlist{
    display: flex;

}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: all .50s ease;

}
.navlist a:hover{
    padding-inline: 20px;
   padding-block: 10px;
    background: #aa76f4;
    border-radius: 10px;
    color: #fff;
}
.nav-right{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 14px 35px;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 10px;
    margin-right: 12px;
    transition: all .6s ease;

}
.btn:hover{
    background:#aa76f4;
    color: #fff;
    transform: scale(1.1);
}
#menu-icon{
    font-size: 34px;
    color:#000000;
    z-index: 10001;
    cursor: pointer;
    display: none;

}
h2{
    text-align: center;
}
.edit{
    background-color: #fff;
}
.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}


table { 
    width: 100%; border-collapse: collapse; margin-top: 20px;
 }
  th, td { 
            border: 1px solid #ccc; padding: 10px; text-align: center;
         }
          th { 
            border: 1px solid #ccc; padding: 10px; text-align: center;background-color: #aa76f4;color:#fff; 
         }
        img {
             max-width: 60px; height: auto;
             }
        .edit-form { 
            display: flex; margin-top: 20px; padding: 15px; border: 1px solid #ccc;  background: #625e96;border-radius: 20px;
            justify-content: center;margin-right: 70%;
        }
        .edit-form input{
               padding: 8px 70px;border-radius: 10px;border: none;
        }
         .edit-form textarea{
             padding: 8px 70px;border-radius: 10px;border: none;
         }
        .btns-danger {
             background:#e8060a; color: white;  padding-inline: 15px;margin-block: 2px;border: none;border-radius: 10px;
            }
        .btns-edit { 
            background: #26ab62; color: white; padding-inline: 22px;margin-block: 2px;border: none;border-radius: 10px;
        }
        tr{
            color: #000;
        }
        .btn-edit{
            border-radius: 10px;background-color: #744c7d;color: #fff;padding: 8px 12px;border: none;margin-left: 50px;

        }
        .btn-danger{
            border-radius: 10px;background-color: #744c7d;color: #fff;padding: 8px 12px;border: none;margin-inline: 20px;

        }
        #editCategory{
            padding: 8px;
            padding-inline: 60px;
            border-radius: 10px;
        }
        




footer{
     position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: #596d9a;
}
/*footer{
    background-color: #596d9a;
    padding: 30px;
    position: relative;
    width: 100%;
    bottom: -255px;
    z-index: 10;
}*/
.foot a{
    background-color: #fff;
    padding: 5px;
    padding-inline: 25px;
    font-size: large;
    border-radius: 10px;
    border: none;
    font-weight:600;
    color:black;
}
.foot a:hover{
     background: #aa76f4;
     color: #fff;
}
@media(max-width:1300px){
     
    header{
        padding: 20px 4%;
    }
    
}
@media(max-width:1050px)
{
    
    .logo{
        font-size: 25px;

    }
    .navlist a{
        margin: 0 25px;
    }
    .btn{
        padding: 11px 23px;
    }

}
@media(max-width:740px)
{
    
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        backdrop-filter:blur(100px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        transition: all .7s ease;
        
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: opx opx 50px 0px;
        font-size: 2rem;

    }
    .navlist.open{
      left: 0;
    }
}