*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: #1f2a44;
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: #c0c0c0;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    color: #000000;
}
.navlist{
    display: flex;

}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: all .50s ease;

}
.navlist a:hover{
   padding-inline: 20px;
   padding-block: 10px;
    background: #aa76f4;
    border-radius: 10px;
    color: #fff;
}
.nav-right{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 14px 35px;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 10px;
    margin-right: 12px;
    transition: all .6s ease;

}
.btn:hover{
    background:#aa76f4;
    color: #fff;
    transform: scale(1.1);
}
#menu-icon{
    font-size: 34px;
    color:#000000;
    z-index: 10001;
    cursor: pointer;
    display: none;

}
/*buyer and seller*/
.btns{
    transition: all .50s ease;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items:end;
     justify-content: center;
    }
    .btns a{
        padding: 50px 15%;
        display: flex;
        align-items: center;
        justify-content: center;
         background:#ffff;
        margin: 50px;
        color: #000000;
        font-size: 30px;
        font-weight: 800;
        border-radius: 30px;
    }
    .btns a:hover{
        background: #aa76f4;
        color: #000;
        box-shadow: 0 0 20px #bcc7bb;
    transform: scale(1.0);
    }
    .container{
    height: 40vmin;
    width:60vmin ;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 35%;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}





footer{
    background-color: #596d9a;
    padding: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}
.foot a{
    background-color: #fff;
    padding: 5px;
    padding-inline: 25px;
    font-size: large;
    border-radius: 10px;
    border: none;
}
.foot a:hover{
     background: #aa76f4;
     color: #fff;
}
footer p{
    text-align: center;
}
@keyframes slide{
    0%{
        transform: translatex(0);
    }
     25%{
        transform: translatex(0);
    }
     30%{
        transform: translatex(-100%);
    }
     50%{
        transform: translatex(-100%);
    }
     55%{
        transform: translatex(-200%);
    }
     75%{
        transform: translatex(-200%);
    }
     80%{
        transform: translatex(-300%);
    }
     100%{
        transform: translatex(-300%);
    }
}
img{
    width: 100%;
}
@media(max-width:1300px){
     
    header{
        padding: 20px 4%;
    }
    
}
@media(max-width:1050px)
{
    .container{         
        width: 40vmax;
        height: auto;
    }
    .logo{
        font-size: 25px;

    }
    .navlist a{
        margin: 0 25px;
    }
    .btn{
        padding: 11px 23px;
    }

}
@media(max-width:740px)
{
    .btns{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
      margin-top: 45%;
      margin-inline: 15%;
    }
    #menu-icon{
       display: block;
    }
    .navlist{
        position: absolute;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        backdrop-filter:blur(100px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        transition: all .7s ease;
        
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: opx opx 50px 0px;
        font-size: 2rem;

    }
    .navlist.open{
        right: 0;

    }
}
